{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": 0,
    "complexity": [2, 5],
    "max-statements": [2, 15],
    "max-depth": [1, 2]
  }
}
